.content-header {
    position: relative;
    padding: 12px 30px;
    background-color: #fff;
    border-bottom: 1px solid #e1e6ef;
    margin-bottom: 20px;
}
.content-header .header-title {
    margin-left: 68px;
}
.content-header .header-title h1 {
    margin: 0;
    font-size: 24px;
}
.content-header .header-title small {
    font-size: 13px;
    display: inline-block;
    padding-left: 4px;
    font-weight: 600;
    color: #7a7a7a;
}
.content-header .header-icon {
    font-size: 55px;
    color: #f58709;
    width: 68px;
    float: left;
    margin-top: -4px;
    line-height: 0;
}
/* .css-2mwf2t-MuiGrid-root>.MuiGrid-item {
    padding-left: 250px;
} */